
@{
    ViewData["Title"] = "NameCode";
    Layout = "~/Views/_LifeWeb_Layout.cshtml";
}

<h2></h2>

<div>

    <div class="container">
        <div class="row">

            <div class="col-lg">
                <form method="get" action="~/Life/Index">
                    <div class="input-group mb-3">
                        <input class="form-control" id="cName" name="cName" type="text" value="@ViewBag.cName" autofocus placeholder="請輸入物種中文名稱..." />
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                @ViewBag.taxonomyC.ScientificName
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">科學分類</h5>
                                <p class="card-text">@ViewBag.taxonomyC.Kingdom</p>
                                <p class="card-text">@ViewBag.taxonomyC.Phylum</p>
                                <p class="card-text">@ViewBag.taxonomyC.Cclass</p>
                                <p class="card-text">@ViewBag.taxonomyC.Order</p>
                                <p class="card-text">@ViewBag.taxonomyC.Family</p>
                                <p class="card-text">@ViewBag.taxonomyC.Genus</p>
                                <p class="card-text">@ViewBag.taxonomyC.ScientificName</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                @ViewBag.taxonomy.ScientificName
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Taxonomy</h5>
                                <p class="card-text">@ViewBag.taxonomy.Kingdom</p>
                                <p class="card-text">@ViewBag.taxonomy.Phylum</p>
                                <p class="card-text">@ViewBag.taxonomy.Cclass</p>
                                <p class="card-text">@ViewBag.taxonomy.Order</p>
                                <p class="card-text">@ViewBag.taxonomy.Family</p>
                                <p class="card-text">@ViewBag.taxonomy.Genus</p>
                                <p class="card-text">@ViewBag.taxonomy.ScientificName</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">

                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                簡介
                            </div>
                            <div class="card-body">

                                <p class="card-text">@ViewBag.info.Description</p>

                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                習性
                            </div>
                            <div class="card-body">

                                <p class="card-text">@ViewBag.info.Habitat</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">

                    <div class="card-body">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                @{ string active = "active";
                                    int i = 1;
                                }
                                @foreach (CImage item in ViewBag.picUrls) {
                                    if (i != 1) { active = ""; }
                                <div class="carousel-item @active">
                                    <img class="d-block w-100" src="@item.ImgUrl">
                                    <div class="card-footer text-muted text-center">
                                        
                                        提供者：@item.Author <br />來源：@item.Provider<br />
                                        <i class="far fa-closed-captioning"></i> <i class="fab fa-creative-commons-by"></i> <i class="fab fa-creative-commons-nc"></i>
                                    </div>
                                </div>
                                    i++;
                                }


                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
